header {
  background: #00000098;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  h1 {
    margin: 0 30px;
    font-size: 2.3rem;
    color: darkgoldenrod;
    text-shadow: 0 0 4px darkgoldenrod;
    white-space: nowrap;
  }
}
