.description {
  background: rgba(0, 0, 0, 0.616);
  color: white;
  text-align: center;
  max-width: 600px;
  border: 4px double gray;
  border-radius: 5%;
  margin: 20px auto;

  h1 {
    text-shadow: 0 0 22px rgb(51, 231, 15);
    color: rgb(51, 231, 15);
  }

  h3 {
    margin: 0;
    font-size: 1.5rem;
    color: rgb(51, 231, 15);
  }

  h4 {
    font-size: 1.3rem;
  }

  ul {
    flex: 1;
  }

  li {
    margin: 7px;
  }
}

.description-box {
  margin: 0 auto;
  text-align: center;
  display: grid;
  place-items: center;
  max-width: 450px;
}

.flavors {
  list-style: none;
  padding: 0;
  margin-bottom: 50px;

  h3 {
    margin-bottom: 20px;
  }
}

.effects {
  margin: 0 auto;
  max-width: 450px;
  display: flex;
  justify-content: space-around;

  ul {
    list-style: none;
    padding: 0;
    margin: 15px;
  }
}

@media (max-width: 350px) {
  .effects {
    flex-direction: column;
  }
}
